<launch>
    <arg name="ma_x" default="0.66" />
    <arg name="ma_y" default="0.25" />
    <arg name="ma_yaw" default="0" />
    
    <arg name="mr_x" default="0.0" />
    <arg name="mr_y" default="-0.93" />
    <arg name="mr_yaw" default="1.5708" />

    <arg name="include" default="$(find aro_sim)/launch/sim_with_markers.launch" />
    <include file="$(arg include)" pass_all_args="true" />
</launch>
