<launch>
    <arg name="ma_x" default="2.42" />
    <arg name="ma_y" default="-0.17" />
    <arg name="ma_yaw" default="0.52" />
    
    <arg name="mr_x" default="0" />
    <arg name="mr_y" default="-2.54" />
    <arg name="mr_yaw" default="-1.5708" />

    <arg name="include" default="$(find aro_sim)/launch/sim_with_markers.launch" />
    <include file="$(arg include)" pass_all_args="true" />
</launch>