<launch>
    <arg name="simulation" value="false" />
    
    <include file="$(dirname)/../real_robot.launch" pass_all_args="true" />
    <group>
        <remap from="cmd_vel" to="cmd_vel_mux/random_walker" />
        <include file="$(dirname)/aro_planning.launch" pass_all_args="true" />
        <include file="$(dirname)/aro_planning_dependencies.launch" pass_all_args="true" />
    </group>
</launch>
