<launch>
    <arg name="world" default="stage_4"/>
    <arg name="ground_truth" default="true"/>
    <arg name="simulation" value="true" />

    <include file="$(dirname)/../sim_robot.launch" pass_all_args="true" />
    <include file="$(dirname)/aro_planning.launch" pass_all_args="true" />
    <include file="$(dirname)/aro_planning_dependencies.launch" pass_all_args="true" />
</launch>
