<launch>
    <arg name="robot_radius" default="$(eval 0.3)"/>

    <arg name="map_frame" default="icp_map" doc="{icp_map,fused_map}"/>
    <arg name="map_frame_fast" default="$(arg map_frame)" />
    
    <arg name="rviz" default="true" />
    <arg name="record_exploration" default="false"/>
    


    <node name="explorer" pkg="aro_exploration" type="explorer.py" output="screen">
        <rosparam subst_value="true">
            robot_frame: base_footprint
            map_frame: $(arg map_frame)
            retries: 10
        </rosparam>

    </node>

    <include file="$(dirname)/aro_exploration_rviz.launch" pass_all_args="true" if="$(arg rviz)" />

    <include file="$(dirname)/record.launch" pass_all_args="true" if="$(arg record_exploration)" />
</launch>
