<launch>
    <arg name="simulation" value="false" />
    <arg name="rviz" default="false" /> <!-- You should launch rviz separately on your computer using aro_exploration_rviz.launch -->

    <include file="$(dirname)/../real_robot.launch" pass_all_args="true" />
    <group>
        <remap from="cmd_vel" to="cmd_vel_mux/random_walker" />
        <include file="$(dirname)/aro_exploration.launch" pass_all_args="true"/>
        <include file="$(dirname)/aro_exploration_dependencies.launch" pass_all_args="true"/>
    </group>
</launch>
